.container {
    margin: 0 auto;
    max-width: 1200px;
}

.card-block {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F0EAD2;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.client-logo {
    background: url(../../icons/clients-icon.svg) center center/cover no-repeat;
    width: 150px;
    height: 95px;
}

.card-bg:hover {
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);  
    transform: translateY(-20px);
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.work-logo {
    background: url(../../icons/work-logo.svg) center center/cover no-repeat;
    width: 150px;
    height: 60px;
}

.driver-logo {
    background: url(../../icons/driver-logo.svg) center center/cover no-repeat;
    width: 101px;
    height: 109px;
}

.time-logo {
    background: url(../../icons/time-logo.svg) center center/cover no-repeat;
    width: 100px;
    height: 100px;
}

.card-text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.line {
    margin: 100px auto;
    width: 800px;
    border: 1px solid #000000;
}

.about-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.photo {
    background: url(../../img/Photo.png) center center/cover no-repeat;
    width: 340px;
    height: 415px;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.photo:hover {
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -o-transform: scale(1.2, 0.5);
    -ms-transform: scale(1.2, 0.5);
    -moz-transform: scale(1.2, 0.5);
    -webkit-transform: scale(1.2, 0.5);
    transform: scale(1.1, 1.1);
}

.about-info-block {
    width: 800px;
}

.about-info-name {
    margin-top: 50px;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
}

.about-info-experience {
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.about-info-text {
    margin-top: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
}