@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: unset;
}

span, a {
    display: block;
    text-decoration: unset;
}

