.container {
    margin: 0 auto;
    max-width: 1200px;
}

.blog-header {
    margin: 100px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-align: center;
}

.blog-card {
    margin: 50px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-text {
    max-width: 743px;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
}

.blog-img {
    /* background: url(../../img/blog-img-1.png) center center/cover no-repeat; */
    width: 406px;
    height: 230px;
}